* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(211, 228, 252);
}

header {
    background-color: rgb(25, 89, 145);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.493);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 42.5px;
    gap: 190px;
}

img {
    padding: 4px;
    border-radius: 10px;
}

.filmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 248, 190);
    border-radius: 9px;
    width: 320px;
    padding: 20px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.589);

}

.filmes:hover {
    transform: scale(1.07);
}

#empurrar {
    position: relative;
    bottom: 120px;
}

footer {
    background-color: rgb(25, 89, 145);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

button {
    background-color: rgb(32, 110, 110);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    margin: 10px;
}

button:hover {
    background-color: rgb(31, 185, 178);
}

div h2 {
    background-color: rgb(39, 207, 137);
    color: rgb(255, 255, 255);
    border-radius: 10px 0px 10px 0px;
    position: relative;
    bottom: 12px;
    width: 100%;
    text-align: center;
}
.footer a{
    color: rgb(201, 201, 135);
    text-decoration: none;
}
.footermenor{
    width: 280px;
}